# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# OS X temporary files
.DS_Store

# Rush temporary files
common/autoinstallers/*/.npmrc
common/deploy/
common/temp/
**/.rush/temp/

# Visual Studio Code
.vscode

# Build output
*.d.ts
*.map
*.tsbuildinfo

# Project specific
components/**/*.js
mixins/**/*.js
tools/**/*.js
!*.config.js
